/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Header Styles */
header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
}
header h1 {
    margin: 0;
    font-size: 24px; /* Adjust font size for smaller screens */
}

/* Navigation Styles */
nav {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px; /* Reduce margin for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
}
nav a:hover {
    color: #ffc107;
}

/* Section Styles */
section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Reduce shadow for smaller screens */
    padding: 10px;
    margin-bottom: 10px;
}
section h2 {
    margin-top: 0;
    font-size: 20px; /* Adjust font size for smaller screens */
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px; /* Adjust font size for smaller screens */
}
